/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* ------------ */
  --background-color-light: #f7fafc;
  --text-color-light: #3f2b53;
  /* ------------ */
  --background-color-dark: #010319;
  --text-color-dark: #e3ecff;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--background-color-dark);
  color: #e3ecff;
  background-size: 40px 40px;
}

.customShadow {
  box-shadow: 0 0 10px #66fcf1;
}

body.light-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
